body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  padding-top: 15px;
}

.entire-header{
    display: flex;
    position: fixed;
    transition: transform 0.5s;
}

.entire-header--hidden {
  transform: translateY(-100px);
}

.main-header {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    background-color: #ff9f1c;
    border: #f9d7aa 2px solid;
    border-radius: 5px;
    width: 80vw;
    margin-left: 3vw;
    height: 9vh;
}

.contact-us-button{
    text-decoration: none;
}

h1,h2,h3,h4,p{
    font-family: "Poppins", sans-serif;
}

.content{
    margin-left: 5vw;
    padding-top: 50px;
}

.content-left{
    max-width: 50vw
}

.content h1{
    font-size: 5rem;
    color: #2ec4b6;
}

.content h2{
    font-size: 4rem;
}

.content-right{
    margin-left: 45vw;
    margin-right: 5vw
}

.big-text{
    max-width: 40vw;
}

.header-button {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    background-color: #ff9f1c;
    border: #f9d7aa 2px solid;
    border-radius: 5px;
    width: 10vw;
    margin-left: 1vw;
    height: 9vh;
    display: flex;
}

.button-text{
    margin-left: 1vw;
    margin-bottom: 0.5vw;
    font-size: 15px;
}

.button-arrow{

}

body{
    background-color: #ffffff;
}

.green-text{
    color: #2ec4b6;
}
