header {
    background: var(--bg-color);
    color: var(--white);
    text-align: center;
    padding: 2rem 0;
    box-shadow: var(--shadow);
    position: relative;
    z-index: 10;
    border-radius: 0 0 var(--rounded) var(--rounded);
}
